body{
    font-family: "Arial";
}
.logo_placement{
    justify-content: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo_text{
    font-size: 50px;
}

.current_page_identifier{
    font-size: 25px;
}

.user_text_identifier{
    font-size: 20px;
    /*background-color: #ff4400;*/
    font-weight: bold;
}

.page_btn_centering{
    justify-content: space-evenly;
    display: flex;
    margin-top: 10px;
}

.page_buttons{
    /*background-color: #0051ff;*/
    height: 30px;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.demarcation_line{
    border-color: #ab0047;
    height: 3px;
    background: #ab0047;
}

/*Nu laver vi login menuen med box*/

.access_placement{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.access_box{
    margin-top: 10px;
    background-color: #c7c1c1;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 400px;
    border-radius: 20px;
}

.inputfield_placement{
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}

.inputfield_elements{
    border-radius: 50px;
    height: 20px;
}

.inputfield_height{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
}

.access_buttons{
    /*background-color: #84ffb4;*/
    height: 25px;
    border-radius: 100px;
}

.logout_button{
    /*background-color: #ff488e;*/
    height: 30px;
    border-radius: 100px;
}

.category_button{
    /*background-color: #c6a1ff;*/
    height: 30px;
    border-radius: 100px;
}

.colorpicker_text_identifier{
    font-size: 20px;
    font-weight: bold;
}

.colorbox{
    height: 200px;
    width: 200px;
}

.colorbox_placement{
    margin: auto;
    text-align: center;
    justify-content: center;
}

.table_design{
    width: 50%;
}

.general_margin{
    margin-bottom: 10px;
    margin-top: 10px;
}

.introduction{
    justify-content: center;
    text-align: left;
    margin-top: 10px;
}

.topbar_button_placements{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
}

.topbar_buttons{
    height: 30px;
}

.colorbox{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.colorbox_placement{
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 250px;
}

.themebutton{
    width: 200px;
}

/*.invalid_credentials{
    text-align: center;
    background-color: darkred;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: flex;
}

.correct_credentials{
    text-align: center;
    background: darkgreen;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}*/

/*.themeText{
    color: #ffffff;
}*/

/*.themeBack{
    background-color: #000000;
}*/
